@model TestEmployeeApp.Models.Emp_Model
@using TestEmployeeApp.Models
@using TestEmployeeApp.Helper
@{
    int i = 1;
    ViewBag.Title = "All Employees";
    var db = new IntrTaskEntities();
    CustomConfig helperConfig = new CustomConfig();

}

<link rel="stylesheet" href="https://cdn.datatables.net/1.11.1/css/jquery.dataTables.min.css">

<link rel="stylesheet" href="https://cdn.datatables.net/1.11.1/js/jquery.dataTables.min.js">



<section class="content">
    <input type="hidden" id="hd_mode" value="Normaltbl" />
    <div class="row">
        <div class="col-md-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">All Employee Details</h3>
                </div>

                <!-- /.box-header -->
                <div class="box-body">
                    <div>
                        @Html.ActionLink("Create New", "CreateEmployeeDetails")
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered table-striped TransDataTable">
                            <thead>
                                <tr>
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        Emp ID
                                    </th>
                                    <th>
                                        Emp Name
                                    </th>
                                    <th>
                                        File Name
                                    </th>
                                    <th>
                                        Created On
                                    </th>
                                    <th>
                                        Edit/Delete
                                    </th>

                                </tr>
                            </thead>
                            @if (Model.Employee_DetailsLst != null)
                            {
                                var EmLst = Model.Employee_DetailsLst;
                                foreach (var item in EmLst)
                                {

                                    <tr>
                                        <td>
                                            @i
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.EmpId)
                                        </td>
                                        <td>
                                            @{
                                                var findEmpName = db.Employee.Where(m => m.EmpId == item.EmpId).FirstOrDefault();
                                                if (findEmpName != null)
                                                {
                                                    @Html.DisplayFor(modelItem => findEmpName.Name)
                                                }
                                            }
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FileName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CreatedDate)
                                        </td>

                                        <td>
                                            @{
                                                var uploadpath = helperConfig.Doc_upload_path;
                                                var fname = uploadpath + item.FilePath + item.FileName;


                                                                 <a href="@Url.Content(fname)" target="_blank">View</a>
                                                                
                                            }
                                            |
                                            @Html.ActionLink("Delete", "DeleteEmployeeDetails", new { File = item.FileName }, new { onclick = "return confirm('Are you sure you wish to remove this Field?');" })
                                        </td>

                                        @{
                                            i++;
                                        }
                                    </tr>
                                }
                            }
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>